body {
	background-color:#e2f2ff;
	color:#072237;
	font-family:serif;
	margin:0;
}
a {
	text-decoration: none;
}
label {
	font-weight: bold;
}
div.nav {
	overflow: auto;
	background-color:#072237;
}
div.nav ul {
	list-style-type:none;
	width:100%;
	top:0;
	margin:0;
	padding:0;
}
div.nav li {
	float:left;
}
div.nav li a {
	display:block;
	color:white;
	text-align:center;
	padding:14px 20px;
	text-decoration:none;
}
div.nav li a:hover:not(.active), .dropdown:hover .dropbtn {
	background-color:#00070e;
}
.active {
	background-color:#005499;
}
div.submenu {
	display: none;
	position: absolute;
	background-color: #b4cbdf;
}
li.dropdown:hover .submenu {
	display: block;
}
a.subitem {
	color: black !important;
}
a.subitem:hover {
	color: white !important;
	background-color: #8fa0af !important;
}
div.body {
	margin: 0px 10px 10px;
	padding: 0px 10px 10px;
}
p.section {
	margin-left: 10px;
	margin-right: 35%;
}
ul.searchlinks {
	list-style-type: none;
	padding-left: 10px;
}
p.submittedalert {
	padding: 1px 0;
	border: 1px solid #010D18;
	text-align: center;
}
table.historytable {
	width: 50%;
	border-collapse: collapse;
}
table.historytable th {
	text-align: left;
	padding: 2px 2px 5px;
}
table.historytable td {
	padding: 2px;
}
table.historytable tr:hover:not(.tableheader) {
	background-color: #b4cbdf;
}
table.formtable {
	border-spacing: 8px;
}
table.formtable th {
	text-align: right;
	vertical-align: text-top;
}
textarea {
    font-family: sans-serif;
}
label.required:before {
	content: "*";
	color: red;
}