{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block home %}class="active"{% endblock %}

{% block body %}
    <h1>Home</h1>
    <div>
        {% if name %}
            <p>Hello, {{ name }}!</p>
            <form action="/" method="POST">
                <button type="submit" name="change" value="change">Change name</button>
            </form>
        {% else %}
            Your name: 
            <form action="/" method="POST" style="display: inline">
                <input type="text" name="name" style="display: inline" required>
                <button type="submit">Enter</button>
            </form>
        {% endif %}
        </div>
{% endblock %}