<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="nav">
            <ul>
                <li><a {% block home %}{% endblock %} href="/">Home</a></li>
                <li><a {% block about %}{% endblock %} href="about">About</a></li>
                <li><a {% block search %}{% endblock %} href="query_view">Search</a></li>
                <li><a {% block feedback %}{% endblock %} href="feedback">Feedback</a></li>
            </ul>
        </div>
        <div class="body">
            {% block body%}{% endblock %}
        </div>
    </body>
</html>